<!DOCTYPE html>
<html>
<head>
    <title>Skills - Add</title>
</head>
<body>
<h1>Add New Skill</h1>
<form action="/skill/insert" method="get">
    Skill: <input name="skill_name" />
    <br />
    Description: <input name="description" />
    <br />
    <input type="submit" />

</form>
</body>
</html>